
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&family=Roboto:wght@700&family=Signika+Negative:wght@300&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap');


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow:hidden;
    overflow-y:scroll;
    cursor: none;
}
.cursor-dot{
    width: 5px;
    height: 5px;
    /* z-index: 10000; */
    background-color: red
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot,.cursor-outline{
    position:fixed;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

::selection{
    background-color: #aca2e8;
}
#Header_ID {
    display: flex;
    justify-content: space-between;
    background-color:white; 
    /* border: 2px solid green; */
    color: black; /* Text color */
    padding: 1rem 1.5rem; /* Adjust padding for better spacing */
    font-family: 'Roboto Slab', sans-serif; /* Font family with fallbacks */
    font-style: normal;
    margin-left: 5rem;
    font-weight: 300;
    font-display: swap;
    font-family: 'Roboto Slab', sans-serif;;
    font-size: 1.2rem; /* Adjust font size */
    border-radius: 5px; /* Add rounded corners */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add a subtle shadow */
    opacity: 1; /* Initially hidden */
    /* transition: opacity 2s ease-in-out; */
    width: 140rem;
}

.Right-Side ul {
    color: black; /* Style links within the header */
    text-decoration: none; /* Remove underlines from links */
    list-style: none;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    text-decoration: none; /* Remove underlines from links */
    list-style: none;
    display: flex;
    /* border: 2px solid black; */
    margin-right: -4rem;
}

.Right-Side ul li {
    margin-right: 2.5rem; /* Add margin to separate list items */
    /* background-color:#7b68EE;  */
    color: white; /* Text color on the li elements */
    border-radius: 6%;
    text-decoration: none; /* Remove underlines from links */
    list-style: none;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); 
    /* box-shadow: 0 2px 4px rgb(240, 9, 9); */
    padding: 1rem 2rem;
    font-size: 1.5rem; /* Adjust font size */
    font-weight:600;
    text-transform: uppercase; /* Uppercase the text */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.Right-Side ul li {
    text-decoration: none; /* Remove underlines from links */
    list-style: none;
    /* color: white; */
    /* color:white; */
}
.Right-Side ul li:hover {
    background-color: white; /* Darker pink on hover */
    color: black; /* White text on hover */
}
.Right-Side ul li a {
    color: inherit; /* Inherit the color from the parent li element */
    text-decoration: none;
}

.Right-Side ul li a:hover {
    background-color: white;
    color: black;
}

.Left-Side img{
    width: 12rem;
    position: absolute;
    margin-top: -.5rem;
    margin-left:1rem;
}
















                /* Mid-Page */
.Middle-Page{
    display: flex;
    /* border: 2px solid red; */
    /* overflow: hidden; */
    height: 90vh;
    /* width: 00%; */
}
.Left-Mid-Page{
    /* border: 2px solid black; */
    
    width: 50%;
    height: 50vh;
    margin-left: 14rem;
    margin-top: 5rem;
}
.Right-Mid-Page {
    /* border: 2px solid blue; */
    position: relative;
    /* background-color: #7b68EE; */
    background: linear-gradient(to right top, #a07ba0, #6e54ff);  
    top: -24rem;
    left: 10rem;
    border-radius: 45% 45% 45% 45%;
    width: 70%;
    z-index: 0;
    height: 110vh;
    transform: rotate(152deg); 

}
.Middle-Mid-Page{
    /* border-radius: 20rem; */
    /* border: 2px solid red; */
    width: 30rem;
    position: absolute;
    right: 42rem;
    height: 60rem;
    top:11rem;
    z-index: 10;
   
}
.Middle-Mid-Page video{
    width: 65rem;
    border-radius: 9rem;
    background-size: cover;
}
.LeftInfoPage{
    font-family: 'Roboto Slab', sans-serif;
    /* border: 2px solid darkblue; */
    width: 40vw;
    margin-top: 5rem;
    font-weight:bolder;
    font-size:1.5rem;
    line-height: 4.5rem;
    margin-right: 10rem;
    margin-bottom: -110rem;
}
.LeftInfoPage h1{
    margin-left: 13rem;
    font-weight:bolder;
}
.LeftInfoPage span{
    margin-left: 7.2rem;
    
}
#Left-Mid-Page-Info {
    margin-left: -5rem;
}
#Left_Section_Span{
    margin-left: -1rem;
    padding: 0 2rem;
    /* line-height: 2rem; */
}
#SpanText{
color: rgb(0, 0, 0);
/* font-size:larger; */
}
#SpanText2{
    /* margin-right: 10rem; */
    margin-left: 4.9rem;
}
.LeftInfoPage input{
    display: block;
    width: 50%;
    padding: 1.4rem 2rem;
    margin: 2rem 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}

.LeftInfoPage input::placeholder{
    text-align: left   
}
.LeftInfoPage a{
    display: none;
}
#Get-Started-btn {
    padding: 1.6rem 4rem; /* Slightly increased padding for better button size */
    margin: 0rem 0 0 5rem; /* Added some top margin and adjusted left margin */
    outline: none;
    border: none; /* Remove the border */
    font-family: monospace;
    /* display:  */
    border-radius: 1rem;
    background-color: #7b68EE; /* Choose a bold and attractive background color */
    color: #fff; /* White text color for better contrast */
    font-family: 'Roboto Slab', sans-serif;
    font-weight:bolder;
    font-size: 1.6rem; /* Slightly increased font size for readability */
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Add a subtle box shadow */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

#Get-Started-btn:hover {
    opacity: 0.9; /* Darker color on hover for interactivity */
}
.LeftInfoPage h3{
    line-height: 5rem;
    display: inline-block;
}       







                /* Second mid page */
.secondMid{
    width: 99%;
    display: flex;
    margin-left: 1rem;
    height:70rem ;
    /* border: 2px solid red; */
}
.LeftPageInfo{
    /* width: 40rem; */
    width: 50%;
    margin-top: 2rem;
    height: 80%;
    /* border: 2px solid black; */
}
.LeftPageInfo img{
    width: 68%;
    margin-top: 10rem;
    margin-left: 12rem;
}
.RightPageInfo{
    width: 50%;
    font-family: 'Roboto Slab', sans-serif;
    margin-top: 2rem;
    margin-left: -5rem;
    /* border: 2px solid green; */
    height: 80%;
}
.RightPageInfo-title{
    width: 60rem;
    color: #1f1f1ff5;
    /* font-weight: bolder; */
    font-size: 2.5rem;
    font-family: 'Roboto';
    font-style: normal;
    /* font-weight: 800; */
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    /* border: 2px solid green; */

}
.RightPageInfo-Information span {
    font-size: 2.1rem;
    line-height: 3rem;
   color: #333333;
    
  }
  .RightPageInfo-Information{
    /* border: 2px solid red; */
    width: 70rem;
  }
  .RightPageInfo-Box{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    height: 10rem;
    /* border: 2px solid red; */
  }
  .RightPageInfo-Box1{
    display: flex;
  }
  .RightPageInfo-Box1{
    width: 22rem;
    
    height: 100%;
    /* border: 2px solid black; */

  }
  .RightPageInfo-Box1:nth-child(2){
    margin-left: 1rem;
  }
  
  .RightPageInfo-Box1:nth-child(3){
    margin-left: 1rem;
  }
   .RightPageInfo-Box1-img img{
    width: 3.2rem;
    margin-top: .2rem;
  }
  .RightPageInfo-Box1-Info{
    margin-left: .9rem;
    color: #333333;
    font-family: Poppins,Helvetica,Arial,sans-serif;
  }
  .RightPageInfo-Box1-Info-title span{
    font-size: 2.5rem;
    font-weight: 400;
  }
  .RightPageInfo-Box1-Info-description {
    font-size: 1.9rem;
    margin-top: .5rem;
    /* font-family: 'Times New Roman', Times, serif; */
  }




































                        /* Authentication Part */
.Login,.SignUp{
    display: block;
    width: 33rem;
    padding: 1.8rem 1.3rem; /* Adjust padding for text alignment */
    margin-left: 10rem;
    margin-top: 3rem;
    text-align: left; /* Set text alignment to left */
    /* border: 1px solid #ccc; */
    border-radius: 0.2rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 2rem;
    font-size: 1.4rem;
     font-family: 'Roboto Slab';
    font-style: normal;
    font-weight:bolder;
    font-display: swap;
}
.Login h1 ,.SignUp h1{
    font-size: 2.3rem; /* Increase the font size */
    margin: 10px 0; /* Adjust the top and bottom margin */
    text-align: center; /* Center-align the text */
    color: #007acc; /* Change the text color */
    text-transform: uppercase; /* Make the text uppercase */
    font-weight: bold;
    letter-spacing: 2px; /* Add letter spacing */
  }
#submitBtn ,#loginBtn{
    background-color: rgb(104, 192, 222);
    color: white;
    padding: 1rem 5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem; /* You mentioned 1rem = 10px, so this will make the font larger */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth color transition on hover */
     margin-left: 12rem;
    /* Optional: Add box-shadow for a 3D effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#submitBtn:hover #loginBtn:hover {
    background-color: rgb(82, 162, 192); /* Change the background color on hover */
  }

  .Login input ,.SignUp input{
    display: block;
    width: 85%;
    padding: 1.6rem 2.2rem;
    margin: 2rem 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
  }
  
  /* Customize the input placeholder text */
  .Login input::placeholder ,.SignUp input::placeholder{
    color: #999; /* Change the color of the placeholder text */
   
  }
  
  /* Add a box-shadow when an input element is focused */
  .Login input:focus ,.SignUp input:focus {
    /* border-color: #007acc; */
    border-color: lightblue;
    /* border-color: rgb(74, 211, 74); */
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);
  }
  .Authentication{
    /* border: 2px solid black; */
    /* margin-left: ; */
    display: flex;
  }
  .Left_Page{
    /* border: 2px solid green; */
    margin-left: 7rem;
    width:50%;
  }
  .Right_Page{
    width: 50%;
    /* border: 2px solid red; */
  }
  .Right_Page img{
   /* border: 2px solid blue; */
    width: 38rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }
  .Right_Page img {
    max-width: 100%;
    transition: opacity 1s; /* Apply a 1-second opacity transition */
}
















                    /* Project Timeline Section */
.Projet-Timeline-section{ 
    display: relative;
    max-width: 120rem;
    margin: 10rem auto;
}                    
.container{
    padding: 1.6rem 2.5rem;
    position: relative;
    width: 40%;
    /* background: #007acc; */
}
.text-box {
    position: relative;
    background: white;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.6rem;
    font-family: 'Roboto';
    font-style: normal;
    /* font-weight: 800; */
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    box-sizing: border-box;
    z-index: 2; /* Ensure text appears above the line */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow property */
}


.Left-Container{
    left: 0;
}
.Right-Container{
    right: -50%;
}
.Projet-Timeline-section::after{
    content: '';
    position: absolute;
    margin-top: 104%;
    width: .1rem;
    height: 100%;
    background: #000;
    top: 0;
    left: 50%;
    margin-left: -4rem;
}
.left-container-arrow{
    width: 0;
    height: 0;
    position: absolute;
    top: 2.8rem;
    z-index: 1;
    border-top: 1.4rem solid transparent;
    border-left:1.5rem solid rgb(255, 255, 255) ;
    border-bottom: 1.5rem solid transparent; 
    right: -1.5rem;
}